#===============================================================================
# @brief WS63 Screen Panel LVGL Kconfig
#===============================================================================

menu "WS63 Panel UI 配置"
    depends on ENABLE_LVGL_PANEL

endmenu
