#===============================================================================
# @brief    WS63 Laser Marker Kconfig
#===============================================================================

choice
    prompt "Board Role (板卡角色)"
    depends on ENABLE_LASER_MARKER_SAMPLE

config LASER_MARKER_RECEIVER
    bool "Support Receiver Board (接收板)."
    select SPI_SUPPORT_MASTER

config LASER_MARKER_TRANSMITTER
    bool "Support Transmitter Board (发射板)."

endchoice

if LASER_MARKER_RECEIVER
menu "Receiver Configuration (接收配置)"

comment "Fixed pins: SPI0 / GPIO10 / PWM2（固定接线）"

endmenu
endif

if LASER_MARKER_TRANSMITTER
menu "Transmitter Configuration (发射配置)"

comment "Fixed UART: UART1 / GPIO15-16（固定串口）"

config LASER_WIFI_SOFTAP_ENABLE
    bool
    prompt "Support WiFi (启用WiFi)."
    default y
    help
        This option means enable WiFi function on Transmitter.

if LASER_WIFI_SOFTAP_ENABLE
menu "WiFi Configuration (WiFi设置)"

choice
    prompt "WiFi Mode (模式)"
    default LASER_WIFI_MODE_SOFTAP

config LASER_WIFI_MODE_SOFTAP
    bool "Support WiFi SoftAP Mode (热点模式)."

config LASER_WIFI_MODE_STA
    bool "Support WiFi STA Mode (联网模式)."

endchoice

config LASER_WIFI_SOFTAP_SSID
    string
    prompt "Set SoftAP SSID (热点名)."
    default "WS63_LaserTX"
    depends on LASER_WIFI_MODE_SOFTAP

config LASER_WIFI_SOFTAP_PSK
    string
    prompt "Set SoftAP Password (热点密码)."
    default "ws63laser"
    depends on LASER_WIFI_MODE_SOFTAP

config LASER_WIFI_SOFTAP_CHANNEL
    int
    prompt "Choose SoftAP Channel (信道)."
    range 1 13
    default 13
    depends on LASER_WIFI_MODE_SOFTAP

config LASER_WIFI_STA_SSID
    string
    prompt "Set STA SSID (路由器名)."
    default "YourRouterSSID"
    depends on LASER_WIFI_MODE_STA

config LASER_WIFI_STA_PSK
    string
    prompt "Set STA Password (路由器密码)."
    default "routerpass"
    depends on LASER_WIFI_MODE_STA

config LASER_WIFI_TCP_PORT
    int
    prompt "Choose TCP Port (端口)."
    range 1 65535
    default 5000

endmenu
endif

endmenu
endif
